body {
	Background-color: mintcream;
}
h1 {
	color: lavender;
	font-family: 'Georgia', 'serif';
	font-size: 500%;
}
p {
	color: darkcyan;
	font-family: 'Georgia', 'serif';
	font-size: 150%;
}
div.a {
	text-align: center;
}
div.b {
	text-align: justify;
}
