body {
	Background-color: mintcream;
}
h1 {
	color: plum;
	font-family: 'Georgia', 'serif';
	font-size: 300%;
}
p {
	color: darkcyan;
	font-family: 'Georgia', 'serif';
	font-size: 150%;
}
div.a {
	text-align: center;
}
a:link {
  color: green; 
  background-color: transparent; 
  text-decoration: none;  
}

a:visited {
  color: olive;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: olive;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: none;
}